<!DOCTYPE html>

<html>
    <head>  
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>  
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="node_modules/bootswatch/dist/quartz/bootstrap.min.css" rel="stylesheet"/>
        
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Spotify</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Home
                      <span class="visually-hidden">(current)</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Generate</MENU></a>
                  </li>                  
                  <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                  </li>
                </ul>               
              </div>
            </div>
          </nav>
          <center>
            <h1>Welcome! Please log in to Spotify!</h1>
            <form action="/genres">
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-primary" type="submit">LOGIN</button>                       
                </div>
            </form> 
        </center>
    </body>
        
</html>